# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.iml

# Node.js / Frontend
node_modules/
dist/
build/
coverage/
npm-debug.log
yarn-error.log
.env
.env.local

# Java / Backend
target/
*.class
.mvn/
mvnw
mvnw.cmd
*.log
.agent/*
.kiro/*
.shared/*

#bmad
_bmad/*
#.claude/
#.codex/
#.cursor/
#.gemini/
#.kiro/
#.trae/
#.windsurf/
#.mcp.json

uploads/avatars/*
!uploads/avatars/default-G.jpeg
!uploads/avatars/default-B.jpeg
!uploads/avatars/default-G1.jpeg
!uploads/avatars/default-B1.jpeg