services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
    networks:
      - app-network

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
